{% load static %}
<!DOCTYPE <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>{% block title %} Document {% endblock %}</title>
</head>

<body>

    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">Logo</a>
            <span class="menu-icon">Ver Menu</span>
            <nav class="navigation">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                    <li><a href="">Contactos</a></li>
                    <li><input type="text" value="Buscar" /></li>
                    <!--Buscar-->
                
                    {% if request.session.is_empty %}
                    <!--Botones para registrarse e iniciar sesion-->
                    <li><a href="/registro/"><input type="button" class="botones" value="Registrarse"></a></li>
                    <!--style="float: right;"-->
                    <li>

                        <a href="/login/"><input type="button" class="botones" value="Iniciar Sesión"></a>
                    </li>
                    <!--style="float: right;"-->
                    {% else %}
                    <!-- AL desarrollar el frontend se debe mejorar esta presentacion-->
                    <li><a href="/logout/"><input type="button" style="float: right;" value="Logout"></a></li>
                    <li>
                        <p style="float: right;">Bienvenido {{ user.username }} </p>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        {% block content %}
        <h5>Contenido</h5>
        {% endblock %}
    </div>
    {% block footer %}
    <footer class="footer">
        <p>pagina diseñada XXX</p>
    </footer>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
     
</body>

</html>