.contenedor{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
}
.section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}
.section2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}
.section3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}
.section4{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}
.section5{
    display: grid;
    grid-gap: 5px;
}
.section9{
    display: grid;
    grid-gap: 5px;
}
.perfil{
    display: grid;
}
.login-submit{
    border: 0; /*anchura, estilo y color borde*/
    padding: 8px; /*espacio alrededor texto*/
    background-color: #47525E; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
   
    font-family: Georgia, 'Times New Roman', Times, serif; /*tipografía texto*/
    border-radius: 8px; /*bordes redondos*/
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.contenedor2{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
}
.contenedor3{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
}
.uno{
    margin-left: 5%;
    nav-right: 5%;
    margin-top: 10%;
}
.a{
    text-align:justify;
    margin-left: 5%;
    margin-top: 5%;
}
.b{
    margin-top: 25%;
    text-align:justify;
    margin-left: 5%;
}
.nombre{
    margin-top: 7%;
}
.correo{
    margin-top: 7%;
}
.contacto{
    margin-top: 7%;
}
.nivel{
    margin-top: 7%;
}
.fecha{
    margin-top: 7%;
}
.editar{
    margin-top: 7%;
}