{% extends 'base/base.html' %}

<head>
    <title>{% block title %} Contáctenos{% endblock %}</title>
</head>

<body>
    {% block content %}
    <h1 class="h1contac">Contáctenos</h1>
    <div class="padre">

        <div class="hijo">

            <h2>Email</h2>
            <p>stackquestion2021@gmail.com</p>
            <h2>Numero</h2>
            <p>+51 XXXXXXXXX</p>
            <h2>Redes Sociales</h2>

            <p>Facebook:</p>
            <a href="https://www.facebook.com/groups/stackquestion">stackquestion</a>
            <p>Twitter:</p>
            <a href="https://twitter.com/QuestionStack">@QuestionStack</a>

            <div><a href="https://www.facebook.com/groups/307217284628410" target="_blank"
                    class="fa fa-facebook-square fa-4x"></a>
                <a href="https://twitter.com/QuestionStack" target="_blank" class="fa fa-twitter-square fa-4x"></a>
            </div>

        </div>



    </div>
    {% endblock %}
</body>

</html>