{% extends 'base/base.html' %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Editar Perfil</title>
  </head>
  
  <body >
  {% block content %}
    <div class="padre">
      <div class="hijo">
        <center>
    <h2>Editar Datos</h2>
    <form class="login-form" method="POST" action="{{currUser.id}}">
      {% csrf_token %}
      <h4>Nombre:</h4> <input type="text" class="login-username" autofocus="true" name="nombre" placeholder="Nombre" value="{{currUser.nombre}}"/>
      <h4>Contraseña:</h4> <input type="password" class="login-password" name="contrasenia" placeholder="Contraseña" value="{{currUser.contrasenia}}" />
      <h4>Celular:</h4> <input type="text" class="login-username" autofocus="true" name="celular" placeholder="Celular" value="{{currUser.celular}}" />
      <h4>Fecha de nacimiento:</h4> <input type="date" class="login-username" autofocus="true" name="nacimiento" placeholder="Fecha de nacimiento" value="{{fechaCumpleanios.year}}-{{fechaCumpleanios.month}}-{{fechaCumpleanios.day}}" value="00-00-00" /><br>
      <br>
      <input type="submit" name="saveChanges" value="Guardar Cambios" class="login-submit" />
    </form>
    <h6>Ultima fecha de modificacion: {{ currUser.fecha_de_modificacion }}</h6>

    <h2>Eliminar Cuenta</h2>
    <form class="login-form" method="POST" action="../eliminarCuenta/{{currUser.id}}">
      {% csrf_token %}
        <h4>aqui tu nombre de usuario:</h4> <input type="text" class="login-username" autofocus="true" name="nomUsuario" placeholder="Ejm. user001" /><br>
        <br>
        <input type="submit" name="saveChanges" value="Eliminar Cuenta" class="login-submit" />
    </form>
  </center>
  </div>
</div>
{% endblock %}
  </body>
</html>