{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Editar Perfil</title>
  </head>
  <body>
    <h1>Editar Datos</h1>
    <form class="login-form" method="POST" action="{{currUser.id}}">
      {% csrf_token %}
      <p class="login-text">
        <span class="fa-stack fa-lg">
          <i class="fa fa-lock"></i>
        </span>
      </p>
      Nombre: <input type="text" class="login-username" autofocus="true" name="nombre" placeholder="Nombre" value="{{currUser.nombre}}"/><br>
      Contraseña: <input type="password" class="login-password" name="contrasenia" placeholder="Contraseña" value="{{currUser.contrasenia}}" /><br>
      Celular: <input type="text" class="login-username" autofocus="true" name="celular" placeholder="Celular" value="{{currUser.celular}}" /><br>
      Fecha de nacimiento: <input type="date" class="login-username" autofocus="true" name="nacimiento" placeholder="Fecha de nacimiento" value="{{fechaCumpleanios.year}}-{{fechaCumpleanios.month}}-{{fechaCumpleanios.day}}" value="00-00-00" /><br>
      <input type="submit" name="saveChanges" value="Guardar Cambios" class="login-submit" />
    </form>
    <h6>Ultima fecha de modificacion: {{ currUser.fecha_de_modificacion }}</h6>


    <h1>Eliminar Cuenta</h1>
    <form class="login-form" method="POST" action="../eliminarCuenta/{{currUser.id}}">
      {% csrf_token %}
      <p class="login-text">
        <span class="fa-stack fa-lg">
          <i class="fa fa-lock"></i>
        </span>
      </p>
        Escibe aqui tu nombre de usuario: <input type="text" class="login-username" autofocus="true" name="nomUsuario" placeholder="Ejm. user001" /><br>
      <input type="submit" name="saveChanges" value="Eliminar Cuenta" class="login-submit" />
    </form>
  </body>
</html>