{% extends 'base/base.html' %}

<head>

    <title>{% block title %} Inicio {% endblock %}</title>

</head>

<body>
    {% block content %}
    {% load static %}

    <div class="namepage">
        <h1>Stack Question</h1>
    </div>

    <div class="index-header">
        <div class="index-content-header">
            <div class="index-separacion">
                ¿Nuevo Aqui?
            </div>
            <div class="index-separacion"> <i class="fa fa-arrow-right"></i></div>
            <div class="index-separacion">
                <a href="../preguntas_frecuentes/"><input type="button" class="botones-index" value="Recorrido"></a>
            </div>
        </div>
    </div>
    <br>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="{% static 'img_nature_wide.jpg' %}" style="width:100%">
            <div class="text">Stack Question</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="{% static 'img_snow_wide.jpg' %}" style="width:100%">
            <div class="text">Stack Question</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="{% static 'img_mountains_wide.jpg' %}" style="width:100%">
            <div class="text">Stack Question</div>
        </div>

        <!-- Las Flechas -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <!-- Los puntos -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <br>
    <div class="index-cuerpo">
        <a href="/foro/"><input type="button" class="botones-index" value="¡ Inicia Ya !"></a>
       
    </div>




    {% endblock %}

    <body>

    </body>

    </html>