{%extends "foro.html"%}
{%block cuerpo %}
<br><input type="checkbox" id="resp_normal">
<label for="resp_normal">Ver respuestas comunes</label>
<br>{{pregunta}} <br>
<br>
{{pregunta.descripcion}}

<div id="ajax">
    {%include "respuestas.html" %}
</div>

<script>
    calificacion();
    let resp_normal = document.getElementById("resp_normal");
    resp_normal.addEventListener('click', r_comunes);
    function r_comunes() {
        //peticion xmlhttprequest general
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("ajax").innerHTML = this.responseText;
                calificacion();
                //let like = document.getElementById("{{respuesta.0.id}}comentarios");
                //console.log(like);
                aniadir_evento_boton_comentario();
            }
        }
        //--------------------------------
        if (resp_normal.checked == true) {
            ajax.open("GET", "/pregunta/?id={{pregunta.id}}&comun=1", true);
        } 
        else {
            ajax.open("GET", "/pregunta/?id={{pregunta.id}}&confi=2", true);
        }
        ajax.send();
    }
    function calificacion() {
        let likes =document.querySelectorAll(".like");
        let dislikes=document.querySelectorAll(".dislike");
        for (let i = 0; i < likes.length; i++) {
            let like = likes[i];
            like.addEventListener('click', add_calificacion);
            let dislike = dislikes[i];
            dislike.addEventListener('click', add_calificacion);
            //let comentar = document.getElementById("comentar" + i);
            //comentar.addEventListener('click', add_comentar);
        }
    }
    function add_calificacion() {
        
        let usuario=this.getAttribute("usuario");
        if (usuario) {
            let objeto=this;
            let ajax=new XMLHttpRequest();
            ajax.onreadystatechange=function (){
                if(this.readyState==4 && this.status==200){
                    document.getElementById("c"+objeto.id).innerHTML=this.responseText;
                }
            }
            console.log(objeto);
            let url
            if(this.getAttribute("class")=="like"){
                url="/calificacion/?usuario="+usuario+"&like="+objeto.getAttribute("pregunta");
            }
            else{
                url="/calificacion/?usuario="+usuario+"&dislike="+objeto.getAttribute("pregunta");
            }
            console.log(url);
            ajax.open("GET",url,true);
            ajax.send();
            
        }else{
            window.location.replace("/login/");
        }
    }
    function add_comentar() {
        console.log(this.id);
    }
    function aniadir_evento_boton_comentario() {
        let arreglo=document.getElementsByClassName("botonComentario");
        for(let i=0;i<arreglo.length;i++){
            arreglo[i].addEventListener("click",mostrar_comentarios);
        }
    }
    function mostrar_comentarios(){
        var boton="comentario"+this.getAttribute("id_respuesta");
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById(boton).innerHTML = this.responseText;
                aniadir_evento_boton_subcomentario();
            }
        }
        let url="/comentario/?id_respuesta="+this.getAttribute("id_respuesta");
        ajax.open("GET",url,true);
        ajax.send();
        
    }
    function aniadir_evento_boton_subcomentario(){
        let arreglo=document.getElementsByClassName("subbotonComentario");
        for(let i=0;i<arreglo.length;i++){
            arreglo[i].addEventListener("click",mostrar_subcomentarios);
        }
    }
    function mostrar_subcomentarios(){        
        var boton="subcomentario"+this.getAttribute("id_comentario");
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById(boton).innerHTML = this.responseText;
                aniadir_evento_boton_subcomentario();
            }
        }
        let url="/comentario/?id_comentario="+this.getAttribute("id_comentario");
        ajax.open("GET",url,true);
        ajax.send();
        
    }
</script>
{%endblock%}