{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es" >
  <head>
    <meta charset="utf-8">
    <title>Ver Historial</title>
  </head>
  <body>
      <center>
    {% block content %}
    <div class="padre">
      <div class="hijo">
    {% if user.is_authenticated %}
    {% endif %}
    <h2>Nombre</h2>
    <h4>{{ currUser.nombre }}</h4>
    <h2>Correo</h2>
    <h4>{{ currUser.correo }}</h4>

    <h2>Contactalo(a)</h2>
    <h4>{{ currUser.celular }}</h4>

    <h4>-Actualmente es un usuario {{ currUser.nivel }}</h4>
    <h6>-Se unió el {{ currUser.fecha_de_creacion }}, desde {{ currUser.pais }}</h6>
    <a href="/editarPerfil/{{currUser.id}}"><input type="button" class="botones" value="Editar Perfil"></a>
    <h2>Preguntas recientes</h2>
    {% for question in questions %}
    <a href="../pregunta/?id={{question.id}}">{{ question.enunciado }}</a><br><a href="../eliminarPregunta/{{ question.id }}">Eliminar</a><br> 
    {% endfor %}

    <h2>Actividad reciente</h2>
    {% for answer in answers %}<!-- respuestas de usuario-->
    <h3>Respondio a la pregunta de </h3>
      {% for question in allQuestions %}<!-- todas las preguntas -->
        {% if answer.pregunta_id == question.id %} <!-- si la pregunta vinculada a la respuesta es igual al id de la pregunta -->
          {% for userThatQuestion in users %}<!-- recorremos los ususarios -->
            {% if userThatQuestion.id == question.usuario_id%}<!-- el id del usuario debe ser el mismo del que hizo la pregunta que el usuario de este perfil contesto -->
              <a style="color:red" href="../pregunta/?id={{question.id}}">{{ userThatQuestion.nombre }}, el dia {{ answer.fecha_de_creacion }}</a>
            {% endif %}
          {% endfor %}
        {% endif%}
      {% endfor %}
      <h4>"{{ answer.contenido }}"<br><a href="../eliminarRespuesta/{{ answer.id }}">Eliminar Respuesta ...</a></h4>
      <h6>Esta es un respuesta {{answer.confiabilidad}}</h6>
    {% endfor %}
    {% endblock %}
</center>
  </body>
</html>