{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Editar Perfil</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/editarPerfil.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logoPrueba.png' %}" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Captura.jpg' %}" >
  </head>
  <meta charset="utf-8">
  <body >
    
          {# ----- CONTENEDOR EDITAR PERFIL -----#}
          {% block content %}
          <div class="contenedor3">
            <div class="perfil">
                <div class="uno">
                    {% if user.is_authenticated %}
                    {% endif %}
                    <center>
                        <td style="width: 100px;"></td>
                            <td style="vertical-align: middle; height: 600px;">
                                <img class="alignright size-full wp-image-71" alt="webi"
                                    src="{% static 'Captura.jpg' %}" width="30%" height="23%" />

                            </td>
                            <td style="width: 200px;"></td>
                        <div class="nombre"><h1>Nombre: {{ currUser.nombre }}</h1></div>
                        <div class="correo"><h1>Correo: {{ request.user.email }}</h1></div>
                        <div class="contacto"><h1>Contactalo(a): {{ currUser.celular }}</h1></div>
                        <div class="nivel"><h1>Actualmente es un usuario {{ currUser.nivel }}</h1></div>
                        <div class="fecha"><h1>Se unió el {{ currUser.fecha_de_creacion }}</h1><span></span></div>
                        <div class="editar"><a href="/editarPerfil/{{currUser.id}}"><input type="button" class="botones" value="Editar Perfil"></a></div>
                    </center>
                </div>
            </div>
            <div class="section9">
                <div class="a">
                    <div class="aa">
                    <h1>Preguntas recientes</h1>
                        <div class="bb">
                            {% for question in questions %}
                            <!--<button type="button" name="button" value="Editar Perfil" onclick="editarPerfil">Editar perfil</button>-->
                            <a href="../pregunta/?id={{question.id}}">{{ question.enunciado }}</a><br><a href="../eliminarPregunta/{{ question.id }}">Eliminar</a><br> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="b">
                    <h1>Actividad reciente</h1>
                    <div class="bb">
                        {% for answer in resFiltradas %}<!-- respuestas de usuario-->
                        <h1>Respondiste a la pregunta:  </h1>
                        {% for someQuestion in allQuestions %}
                            {% if someQuestion.id == answer.pregunta_id %}
                            <a style="color:red" href="../pregunta/?id={{question.id}}">{{ someQuestion.enunciado }}</a>
                            {% endif%}
                        {% endfor %}
                        {% if answer.confiabilidad == "normal" %}
                            <h1 style="color:blue">"{{ answer.contenido }}"</h1><br><a href="../eliminarRespuesta/{{ answer.id }}">Eliminar Respuesta ...</a>
                        {% else %}
                            <h1 style="color:brown">"{{ answer.contenido }}"</h1><br><a href="../eliminarRespuesta/{{ answer.id }}">Eliminar Respuesta ...</a>
                        {% endif %}
                        <!--<h6>Esta es un respuesta {{answer.confiabilidad}}</h6>-->
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>      
  </body>
</html>